/* 
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Merienda', cursive;
font-family: 'Poppins', sans-serif;
*/

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none; /* tag <a> */
    list-style: none; /* tag <li> */
}

/* ##### */

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem; /* Default = 16px. */
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(lightyellow, #FACB02);

    /* Strategy to center all the elements on the page. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.hide {
    display: none;
}

.container {
    width: 37.5rem; /* Mobile M, 375px. */
    margin: 2rem 0;
}

.header {
    margin-bottom: 4rem;
}

.title {
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 4rem;
    color: #FACB02;
    margin-bottom: 2rem;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
}

.main {
    margin-bottom: 4rem;
}

.section-1 {    
    display: flex;
    flex-direction: column;
}

.section-1, .section-2, .section-3 {
    margin-bottom: 2rem;
}

.step {
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
    text-shadow: 2px 2px 3px grey;
}

.wrapSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.wrapSelectFlag {
    display: flex;
    gap: 0.5rem;
}

.selectCountryOrigin, .selectCountryDestiny, .selectCategory, .selectClothingType {
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    width: 12.25rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

.imageFlag1, .imageFlag2 {
    width: 4rem;
    height: 3rem;
    display: block;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.messageCountryChoice {
    color: red;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
}

.section-4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.button {
    padding: 1.5rem;
    width: 10rem;
    height: 7rem;
    border-radius: 1rem;
    color: black;
    background-color: #FACB02;
    cursor: pointer;
    font-family: 'Merienda', cursive;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(199, 163, 2);
    transition: all .5s;
}

.result {
    text-align: center;
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: beige;
    box-shadow: 5px 5px 5px black;
    padding: 1rem 0.5rem;
    
}

.table_bra_usa_male_shirt, .table_bra_usa_male_pants, .table_bra_usa_male_shoe, .table_bra_usa_female_shirt, .table_bra_usa_female_pants, .table_bra_usa_female_shoe, .table_bra_usa_children_shirt, .table_bra_usa_children_pants, .table_bra_usa_children_shoe, .table_bra_eur_male_shirt, .table_bra_eur_male_pants, .table_bra_eur_male_shoe, .table_bra_eur_female_shirt, .table_bra_eur_female_pants, .table_bra_eur_female_shoe, .table_bra_eur_children_shirt, .table_bra_eur_children_pants, .table_bra_eur_children_shoe, .table_standard {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    width: 30rem;
    /* border-radius: 0.5rem; */
    background-color: beige;
    box-shadow: 5px 5px 5px black;
    padding: 1rem 0.5rem;
}

th, td {
    padding: 0.4rem;
    text-align: center;
    border-bottom: 1px solid black;
    width: 14rem;
}

th {
    background-color: #71706D;
    color: white;
}

td sup {
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.footer {
    text-align: center;
}

.footer-p {
    font-size: 1.2rem;
}

.footer-a {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.footer-a:hover {
    background-color: black;
    color: yellow;
    transition: all .5s;
}

.button-info {
    padding: 1.5rem;
    width: 10rem;
    height: 7rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(175, 47, 0);
    cursor: pointer;
    font-family: 'Merienda', cursive;
    font-weight: bold;
}

