/* 
font-family: 'Merienda', cursive;
font-family: 'Poppins', sans-serif;
*/

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none; /* tag <a> */
    list-style: none; /* tag <li> */
}

/* ##### */

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem; /* Default = 16px. */
    font-family: 'Poppins', sans-serif;
}