/* 
font-family: 'Merienda', cursive;
font-family: 'Poppins', sans-serif;
*/

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none; /* tag <a> */
    list-style: none; /* tag <li> */
}

/* ##### */

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem; /* Default = 16px. */
    font-family: 'Poppins', sans-serif;

    /* Strategy to center all the elements on the page. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 1px solid blue;
    width: 35.5rem; /* 375px - 20px */
}

.title {
    text-align: center;
    font-family: 'Merienda', cursive;

}

.subtitle {
    text-align: center;
}

.section-1 {    
    display: flex;
    flex-direction: column;
}

.step {
    text-align: center;
    font-family: 'Merienda', cursive;
}

.wrapSelect {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.result {
    text-align: center;
}

.footer {
    text-align: center;
}
